html {
  box-sizing: border-box;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  display: block;
}

a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

body {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
}

.app {
  display: flex;

  &__info {
    &-me {
      margin-bottom: 150px;
    }
  }
  &__nav{

  }
  &__main{

    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.06);
    height: 100vh;
    padding-top: 30px;
  }
}
